/* body {
    background-image: url(../images/hogwarts.jpg)
}

.container{
    background-color: rgba(169, 169, 169, .75) darkgrey;
    color: white;
    width: 700px;
    height: 450px;
    margin: 0 auto;
    margin-top: 150px;
} */